/* ------------------------------------------------------------ *\
	header
\* ------------------------------------------------------------ */

.header {
	border-top: 10px solid $overlay-brown; background: transparent; padding: 40px 0; position: absolute; top: 0; left: 0; right: 0; z-index: 10; 

	@include clearfix;
}

@media (max-width: ($screen-sm-min)-1 ) {
	.header {
		padding: 10px 0; position: relative; 

		& .col-xs-9 {
			position: static; overflow: visible; 
		}
	}
}