/* ------------------------------------------------------------ *\
	Navigaton
\* ------------------------------------------------------------ */

.navigation {
	padding-right: 43px; 

	& ul {
		float: right; border-radius: 25px; line-height: 50px; overflow: hidden; box-shadow: 0px 2px 2px rgba(0,0,0,0.08);

		& li {
			float: left; border-left: 1px solid #e6e6e6;  			

			& a {
				display: block; font-size: 10px; text-transform: uppercase; color: $base-color; text-decoration: none; background: $color-white; padding: 0 28px; transition: background-color 0.2s; position: relative; 

				&:hover {
					text-decoration: none; background-color: $overlay-brown-light; color: $color-white;
				} 

				& .icon-home {
					width: $s-home-icon-width; height: $s-home-icon-height; background-image: url(../css/images/sprite.png); background-position: $s-home-icon-offset-x $s-home-icon-offset-y; background-size: $s-home-icon-total-width $s-home-icon-total-height; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
				}
			}

			&:first-child {
				border-left: 0; 

				& a {
					width: 81px; height: 50px; 					
				}
			}

			&.current a {
				background-color: $overlay-brown-light; color: $color-white;
			}

			&.current a .icon-home,
			& a:hover .icon-home {
				background-position: $s-home-icon-white-offset-x $s-home-icon-white-offset-y; 
			}
		} 
	}
}