/* ------------------------------------------------------------ *\
	Sections
\* ------------------------------------------------------------ */

.section {

	position: relative; 

	& .section-head {
		text-align: center; 

		& h2,
		& p {
			padding-bottom: 7px; 
		}
	}
	
	&.section-slider {
		background: $overlay-grey; padding: 183px 0 63px; 
	}

	&.section-services {
		padding: 120px 0; 
	}

	&.section-who {
		background: $overlay-brown; font-family: $lucida; font-size: 11px; line-height: 2.18; color: $color-white; 

		h4 {
			padding-bottom: 16px; text-transform: uppercase; font-size: 14px; font-family: $myriadpro-bold; line-height: 1.71; color: $color-white; 
		}

		& p {
			padding-bottom: 24px; 
		}

		& .section-cnt {
			padding: 50px; float: right; 
		}

		& .section-image {
			position: absolute; top: 0; bottom: 0; left: 0; right: 50%; padding: 0;

			& img {
				display: block; width: 100%; max-height: 100%; height: auto; opacity: 0.7;
			}
		}
	}

	&.section-gallery {
		padding: 144px 0; 

		& .section-head {
			padding: 0 139px 25px; 
		}

		& .section-body {
			padding: 0 39px; 

			@include clearfix;

			& a {
				float: left; margin: 1px; position: relative; overflow: hidden; 

				& img {
					display: block; width: 354px; height: auto; max-height: 230px; transition: all .3s ease-in-out;

					&:hover {
						transform: scale(1.1);
					}
				}
			}
		}
	}
}