/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials {
	font-size: 17px; line-height: 1.5;  

	@include clearfix;

	& a {
		float: left; margin: 0 5px;

		&:hover .fa-facebook {
			color: #3A589B; 
		}

		&:hover .fa-twitter {
			color: #42C0FB; 
		}

		&:hover .fa-dribbble {
			color: #222; 
		}

		&:hover .fa-behance {
			color: #EC4A89; 
		}
	}
}