$s-home-icon = 28px 0px -28px 0px 16px 17px 44px 21px 'sprite.png';
$s-left-arrow = 0px 0px 0px 0px 14px 21px 44px 21px 'sprite.png';
$s-right-arrow = 14px 0px -14px 0px 14px 21px 44px 21px 'sprite.png';
